/* 
    1. Posicionamiento (fixed, absolute)
    2. Modelo de Caja (Box Model) (width, height, Margin, padding)
    3. Tipografía
    4. Cosas Visuales
    5. Otros
 */
:root {
    /*  Colores  */
    --bitcoin-orange: #F7931A;
    --soft-orange:  #FFE905;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --font-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --icon-arrow-down:  url("./assets/icons/down-arrow.svg");
    --icon-trending-down: url("./assets/icons/trending-down.svg");
    --icon-trending-up: url("./assets/icons/trending-up.svg");
    --icon-batata: url("./assets/icons/batata.svg");
    --icon-clock: url("./assets/icons/clock.svg");
    --icon-eye: url("./assets/icons/eye.svg");
    --icon-money: url("./assets/icons/dollar-sign.svg");
    --icon-money: url("./assets/icons/dollar-sign.svg");
    --icon-check: url("./assets/icons/check-circle.svg");
    --img-bitcoinbaby: url("./assets/img/bitcoinbaby2x.jpg");
    --icon-right-arrow: url("./assets/icons/orange-right-arrow.svg");
}

* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
 /* Nos aseguramos que las fuentes sean heredadas en todos los elementos */
  font-family: inherit;
}
html {
    font-size: x-small;
    font-family: var(--font-sans);
}

header {
    margin: 0 auto;
  position: relative;
  /* display: flex; */
  /* flex-flow: column nowrap; */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto; */
  place-items:center;
  width: 100%;
  min-width: 32rem;
  max-width: 50rem;
  height: 33.4rem;
  text-align: center;
  /* Gradinate ( Difuminado )*/
  background: linear-gradient(207.8deg,#201E1C 16.69%, #F7931A 100%);
}
header > img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 3rem;

}

.header--title-container {
  width: 90%;
  /* min-width: 28.8rem; */
  max-width: 90rem;
  height: 21.8rem;
  margin-top: 4rem;
}

.header--title-container > h1 {
  /* min-width: 28.8rem; */
  text-align:center;
  font-weight: 700;
  font-size: 2.4rem;
  /* Interlineado */
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container > p {
  /* height: 3.6rem; */
  min-width: 28.8rem;
  margin-top: 2.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--soft-orange);
}

.header--button {
  display: grid;
  grid-template-columns: 1fr;
  place-items:center;
  position: absolute;
  text-decoration: none;
  color: var(--black);
  /* Toma el 100% de la altura del padre */
  top: calc(100% - (48px/2));
  left: calc(50% - (240px/2));
  width: 240px;
  height: 48px;
  border: none;
  /* border: 1px, solid, var(--black); */
  border: none;
  border-radius: 5px;
  background-color: var(--off-white);
  padding: 10px;
  /* Sombra */
  box-shadow: 4px 4px 8px rgb(89, 73, 30, 0.16);
}

.header--button > p {
  color: var(--warm-black);
  font-weight: 700;
  text-align: center;
  line-height: 18px;
  font-size: 1.4rem;
}

.header--button p > span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: var(--icon-arrow-down);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  place-items:center;
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
} 
.main-exchange-container 
.backgroundImg {
  width: 195px;
  height: 195px;
  margin-top: 55px;
  background-image: url("./assets/img/Bitcoin.svg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-exchange-container
.main-exchange-container–title{
  width: 90%;
  min-width: 410px;
  max-width: 900px;
}
.main-exchange-container
.main-exchange-container–title > h2 {
  display: block;
  height: 52px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: var(--warm-black) ;
  max-width: 50rem;
  margin: 0 auto;
}

.main-exchange-container
.main-exchange-container–title > p {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 54px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* padding: 10px; */
  text-align: center;
  color: var(--grey);
    min-width: 235px;
    max-width: 500px;
}


.main-tables {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-width: 235px;
    max-width: 500px;
}

.main-tables #go-left {
    width: 8px;
    height: 12px;
    background-image: url(./assets/icons/right-arrow.svg);
    transform: rotate(180deg);
    

}
.main-tables #go-right {
    width: 8px;
    height: 12px;
    background-image: url(./assets/icons/right-arrow.svg);
}


/* Hacer una tabla con grid: */
.main-tables-container-2,
.main-tables-container {
    width: 100%;
    min-width: 235px;
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
}

.main-tables-container-2 .brockers-table--container,
.main-tables-container .currency-table--container{
    width: 70%;
    /* height: 156px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    font-family: var(--font-inter);
    margin-bottom: 20px;
} 

.brockers-table--container  .brockers-table--title, 
.currency-table--container .currency-table--title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: var(--font-sans);
    font-weight: 700;
    line-height: 23px;
    color: var(--bitcoin-orange);
    background-color: var(--off-white);
}
.brockers-table--container  .brockers-table--title {
    color: var(--secundary-blue);
}

.brockers-table--container > span, 
.currency-table--container > span {
    min-width: 120px;
    max-width: 250px;
    height: 39;
    padding: 10px;
    text-align: left;
    background-color: var(--just-white);
    /* border: 0.05px solid var(--grey); */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
}


.brockers-table--container .table__right, 
.currency-table--container .table__right {
    font-size: 1.4rem;
    text-align: right;
    font-weight: 400;
    line-height: 1.7rem;
    color: #757575;
}

.brockers-table--container .table__top-left, 
.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.brockers-table--container .table__top-right, 
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.brockers-table--container .table__bottom-right, 
.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.brockers-table--container .table__bottom-left, 
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.main-tables-container-2 .brockers-table--date, 
.main-exchange-container .currency-table--date {
   font-weight: 300;
    width: auto;
    height: 30px;
    margin-top: 15px; 
    padding: 8px;
    border-radius: 8px;
    margin: 7px;
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.main-exchange-container .currency-table--date {
    background-color: var(--soft-orange);
}
.main-tables-container-2 .brockers-table--date {
    background-color: var(--soft-blue);
}

.currency-table--container > span > div {
    width: 11px;
    height: 6px;
    display: inline-block;
    margin-left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.currency-table--container > span > .icon-down {
    background-image: var(--icon-trending-down);
}

.currency-table--container > span > .icon-up {
    background-image: var(--icon-trending-up);
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    padding: 20px;
    background-color: var(--warm-black);
}

.main-product-detail > .product-detail--batata-logo {
    position: absolute;
    top: -13px;
    width: 41px;
    height: 25px;
    background-image: var(--icon-batata);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-product-detail .product-detail--title >  h2 {
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-product-detail .product-detail--title  > p {
    color: var(--grey);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
}

.product-cards-container {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
}

.product-detail--card {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .product--card-title{
    color: var(--just-white);
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 15px;

}
.product-cards-container .product--card-body{
    color: var(--grey);
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;

}

.product-detail--card .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

}
.product-detail--card .clock-icon {
    background-image: var(--icon-clock);
}

.product-detail--card .eye-icon {
    background-image: var(--icon-eye);
}

.product-detail--card .money-icon {
    background-image: var(--icon-money);
}

.product-detail--card .check-icon {
    background-image: var(--icon-check);
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    height: 60vh;
    background-image: var(--img-bitcoinbaby);
    background-position: center;
    background-image: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    /* flex-flow: column nowrap; */
    /* align-items: center; */
}

.bitcoin-img-container h2 {
    /* margin-top: 20px; */
     color: var(--just-white) ;
    padding-top: 60px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;

}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;

}

.plans-title {
    width: 90;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans-title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: 2.6rem;
    color: var(--black);
}

.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    height: 316px;
    /* Crear un scroll usando CSS */
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    padding: 6px 0;
    /* Alinear texto inline verticalmente  */
    text-align: center;
}
.plan-card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: black;

}

.plan-card-price {
   padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.3rem;
  color: black;
}

.plan-card-price::first-letter {
    font-size: 1.2rem;
    vertical-align: super;
    color: #757575;

}

.plan-card--ca {
  /* Ejemplo de stilos para un botón */
  width: 151px;
  height: 48px;
  margin-top: 40px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}

.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: var(--icon-right-arrow);
  /* alinea la imágen de la flecha naranja */
  vertical-align: bottom;

}

/* La clase inactive tiene que estar después de los estilos */
.inactive {
    display: none;
}
